<div *ngFor = "let dtm of webService.dtvizmessages">
    <mat-card [style.background]="dtm.color" style="margin: 8px;">
        <button style="float: right" *ngIf="messageFlag(dtm.ownerEmailID)" mat-button color="white" (click)="editPost(dtm)"><i style="font-size:24px" class="fa fa-edit"></i></button>
        <button style="float: right" *ngIf="messageFlag(dtm.ownerEmailID)" mat-button color="white" (click)="deletePost(dtm)"><i style="font-size:24px" class="fa fa-trash"></i></button>
        <mat-card-title [routerLink]="['/dtvizmessages', dtm.owner]" style="cursor:pointer"> {{dtm.topic}} </mat-card-title>
        <mat-card-content>Created by {{dtm.ownerEmailID}}</mat-card-content>
        <mat-card-content>{{dtm.text}}</mat-card-content>
    </mat-card>
</div>